<% if page.current? %>
  <a class="item active" href="<%= url %>" title="<%= page %>">
    <%= page %>
  </a>
<% else %>
  <a class="item" href="<%= url %>" title="<%= page %>">
    <%= page %>
  </a>
<% end %>
